@charset "UTF-8";
/* CSS Document */

  body{
		background-image: url(symphony.png); 
	    background-attachment: fixed;
		color:#211819;
	    text-align: center;
	    font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	    margin: 100;
		}
	h1{
		font-family: 'Overpass', sans-serif;
        font-family: 'Cinzel', serif;
		padding: 50px;
	}
	h2{
		font-family: 'Overpass', sans-serif;
        font-family: 'Cinzel', serif;
	}
	a{
		color:#C85456;
		text-decoration: none;
	}
	
	nav{
		text-align: right;
	}
	
	.follow {
		 margin-top:100px;
		 text-align: center; 
	 }
	.email {
		text-align: center;
	}
 
